<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
     <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
      {{ successMsg }}
     </div>
  </div>
</div>
{{!-- 5->looping through each item abd displaying on the main page with its title description and price
 usong handlebars 
 Outer each lop refers to the array that is passed in the products object
Inner each loop refers to the current object or element in the array which is object as well.
Now after displaying the products we start to work on the user functionality and for that we create a new
folder inside views named user AND start to work in the signup view
 --}}
{{# each products }}
<div class="row">  

    {{# each this}}
          <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ this.imagePath }}" alt="..." class="img-responsive" >
      <div class="caption">
        <h3>{{ this.title }}</h3>
        <p class="description">{{ this.description }}</p>
        <div class="clearfix">
          <div class="price pull-left" >{{ this.price }}</div>  
<a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add to Cart</a>
        </div>
      </div>
    </div>
   </div>
    {{/each}}
  </div>
{{/each}}
